@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@100;300;400;700&display=swap');

:root {
	--animate-duration: 1000ms;
	/* --animate-delay: 0.9s; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

html,
body {
	background-color: #fffafa;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

header {
	background-color: purple;
}

/* Estilos básicos do menu */
nav {
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Amatic SC', cursive;
}

.logo {
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background-color: #fff;
	margin: 8px;
	transition: 0.3s;
}

.mobile-menu.active .line-1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line-2 {
	opacity: 0;
}

.mobile-menu.active .line-3 {
	transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list {
	list-style: none;
	display: flex;
	margin-bottom: 0;
}

.nav-list.active {
	transform: translateX(0);
}

.nav-list li {
	letter-spacing: 3px;
}

.nav-link {
	font-size: 1.6em;
	font-weight: 800;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 576px) {
	.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 50vh;
		height: 92vh;
		background-color: #242323;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		z-index: 1000;
	}

	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}

	.mobile-menu {
		display: block;
	}
}

#home {
	padding-bottom: 1rem;
}

.hero {
	background-color: #c2cfe1;
	background-image: url('../img/unsplash.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	/* opacity: 0.9; */
}

.cover {
	color: #242323;
}

.cover h2 {
	font-size: 2.5em;
	font-weight: 700;
	color: #f1f1f1;
	background-color: rgba(36, 35, 35, 0.5);
}

.cover p {
	font-size: 1.37em;
	text-align: right;
	font-weight: 400;
	color: #f1f1f1;
	background-color: rgba(0, 0, 0, 0.5);
}

.home-about {
	/* padding: 2rem 0; */
	/* flex-basis: 50%; */
}

.home {
	padding-top: 1rem;
	height: 100%;
}

.home-title {
	margin-bottom: 1rem;
}

.home-about-img {
	border: 10px solid #634177;
}

.services-hero,
.contact-hero {
	background-image: url('../img/texture_black.jpg');
	background-attachment: fixed;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services-hero h2,
.contact-hero h2 {
	color: #f1f1f1;
	font-size: 3em;
	font-weight: 300;
}

.services-area,
.contact-area,
.contact-form {
	padding: 2rem 0;
}

.services-card {
	text-align: justify;
	cursor: pointer;
	margin-bottom: 2rem;
	padding-top: 1rem;
	border: 5px solid #800080;
	width: 90%;
}

.services-img {
	background-color: #800080;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 1rem;
}

.services-img img {
	width: 50px;
}

.contact-area h3 {
	text-align: center;
	padding: 1rem 0;
}

.icon {
	text-align: center;
}

.icon-img {
	width: 40px;
}

footer {
	background-color: purple;
	padding-top: 1rem;
	color: #f1f1f1;
}

footer .footer-title {
	padding-bottom: 1rem;
}

footer .footer-title.logo {
	font-family: 'Amatic SC', cursive;
	font-size: 3rem;
}

footer .footer-map iframe {
	width: 100%;
}

footer .footer-social-list {
	list-style: none;
	padding-top: 1rem;
}

footer .social-list-item {
	margin-bottom: 20px;
}

footer .social-item-img {
	width: 30px;
}

footer .social-item-link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #f1f1f1;
}

footer .social-item-link p,
.dev p {
	margin: 0;
}

footer .dev {
	text-align: center;
	color: #f1f1f1;
	background-color: black;
	padding: 5px 0;
}

.animate__animated.animate__fadeInLeft {
	/* --animate-duration: 2s; */
	/* --animate-delay: 5s; */
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
